<launch>

   <!-- Arguments -->
  <arg name="bagfile" default="/home/srahman/data/SVIn2/stereo_rig/barbados2017__2017-05-15-15-27-59_Bus_Out_Loop2_w_cam_info_AG_cut_until_585.bag"/>
  <arg name="config_path" default = "$(find pose_graph)/config/stereo_rig/stereo_rig_config.yaml" />
  
  <param name="/use_sim_time" value="true"/>

  <!-- Play the bagfile -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r 0.5" />


  <!-- To un-compress image topics -->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=/slave1/image_raw raw out:=/slave1/image_raw" />
  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=/slave2/image_raw raw out:=/slave2/image_raw" />

  <!--Run pose_graph node-->
  <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
    <param name="config_file" type="string" value="$(arg config_path)" />
  </node>


  <!-- Run the stereo image proc -->
  <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
    <remap from="/left/image_raw" to="/slave1/image_raw" />
    <remap from="/right/image_raw" to="/slave2/image_raw" />
    <remap from="/left/camera_info" to="/slave1/image_raw/camera_info" />
    <remap from="/right/camera_info" to="/slave2/image_raw/camera_info" /> 
    <param name="approximate_sync" value="true"/>
  </node>

  <node name="histogram_equalize" type="histogram_equalize.py" pkg="pose_graph" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="slave1" args="0.0 0.116 0.042 -1.5708 0 -1.5708 base_link slave1 50" /> 
  <node pkg="tf" type="static_transform_publisher" name="slave2" args="0.0 -0.116 0.042 -1.5708 0 -1.5708 base_link slave2 50" /> 
  <node pkg="tf" type="static_transform_publisher" name="sonar" args="0.17 0.0 -0.195  0.0 1.5708 0.0 base_link sonar 50" /> 
  <node pkg="tf" type="static_transform_publisher" name="imu" args="-0.195 0.095 -0.125 0.0 0.0 3.1416 base_link imu 50" /> 
  <node pkg="tf" type="static_transform_publisher" name="depthsensor" args="-0.23  0.075 -0.095 0.0 0.0 0.0 base_link depthsensor 50" /> 


  <node name="okvis_node" pkg="okvis_ros" type="okvis_node" output="screen">

    <param name="config_filename" value="$(find okvis_ros)/okvis/config/config_stereo_rig_aprilgrid.yaml" />
    <param name="mesh_file" value="firefly.dae" />

    <remap from="/camera0" to="/left_hist/image_rect"/> 
    <remap from="/camera1" to="/right_hist/image_rect"/> 

    <remap from="/imu" to="/imu/imu" />

  </node>
</launch>




