<launch>

  <!-- Arguments -->
  <arg name="config_path" default = "$(find pose_graph)/config/gopro/gopro_uw.yaml" />
  
  <param name="/use_sim_time" value="true"/>

  <!-- To un-compress image topics -->
  <node name="republish" type="republish" pkg="image_transport" args="compressed in:=/gopro/image_raw raw out:=/gopro/image_raw" />


  <!--Run pose_graph node-->
  <node name="pose_graph_node" pkg="pose_graph" type="pose_graph_node" output="screen">
    <param name="config_file" type="string" value="$(arg config_path)" />
    <remap from="/cam0/image_raw" to="/gopro/image_raw"/> 
  </node>


  <node name="okvis_node" pkg="okvis_ros" type="okvis_node">

    <param name="config_filename" value="$(find okvis_ros)/okvis/config/config_gopro_uw_radtan.yaml" />

    <remap from="/camera0" to="/gopro/image_raw"/> 
    <remap from="/imu" to="/gopro/imu" />

  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find okvis_ros)/config/rviz_stereorig.rviz" />
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="slave1" args="0.016 0.06946726 0.0 -1.5708 0.0 -1.5708 base_link slave1 50" /> 
  <node pkg="tf" type="static_transform_publisher" name="slave2" args="0.016 -0.06946726 0.0 -1.5708 0.0 -1.5708 base_link slave2 50" />
  <node pkg="tf" type="static_transform_publisher" name="imu" args="-0.0185 -0.016 0.0 1.5708 0.0 1.5708 base_link imu 50" />
  <node pkg="tf" type="static_transform_publisher" name="sonar" args="0.110 0.0 0.125 0.0 1.5708 0.0 base_link sonar 50" />  
  <node pkg="tf" type="static_transform_publisher" name="depthsensor" args="-0.30 -0.035 0.032 0.0 0.0 0.0 base_link depthsensor 50" />  -->
  

</launch>



