%YAML:1.0
cameras:
    - {T_SC:
       [-0.999951484924370, -0.007271683630496, -0.006644577844233,  0.095860371617174,
         0.007454284822327, -0.999583407112654, -0.027882716202835, -0.002288837387091,
        -0.006439055469378, -0.027930894046525,  0.999589117448978, -0.023754113917685,
         0.0, 0.0, 0.0, 1.0],
       image_dimension: [1600, 1200],
       distortion_coefficients: [-0.17473019446863114, 0.10643290428040156, 0.005210777878907861, -0.00028664918860079295], 
       distortion_type: radialtangential,
       focal_length: [1156.5188534683703, 1156.5772666173266], 
       principal_point: [763.2083316463371, 617.2779853849335]} 

    - {T_SC:
        [-0.999982297266498, -0.005818312404541, -0.001245951195096, -0.043066851727302,
          0.005847412971625, -0.999675635403190, -0.024787733715850, -6.630840216796008e-4,
         -0.001101324274080, -0.024794580496386,  0.999691960487255, -0.023978804210993,
          0.0, 0.0, 0.0, 1.0],
       image_dimension: [1600, 1200],
       distortion_coefficients: [-0.173831269260396, 0.10747272137157605, 0.004231076633773206, -0.0026692219494915187], 
       distortion_type: radialtangential,
       focal_length: [1158.625855755729, 1156.0604864187183], 
       principal_point: [765.5609812846063, 588.6683184401453]}


camera_params:
    camera_rate: 15 # just to manage the expectations of when there should be frames arriving
    sigma_absolute_translation: 0.0 # The standard deviation of the camera extrinsics translation, e.g. 1.0e-10 for online-calib [m].
    sigma_absolute_orientation: 0.0 # The standard deviation of the camera extrinsics orientation, e.g. 1.0e-3 for online-calib [rad].
    sigma_c_relative_translation: 1.0e-8 # The std. dev. of the cam. extr. transl. change between frames, e.g. 1.0e-6 for adaptive online calib (not less for numerics) [m].
    sigma_c_relative_orientation: 1.0e-8 # The std. dev. of the cam. extr. orient. change between frames, e.g. 1.0e-6 for adaptive online calib (not less for numerics) [rad].
    # timestamp_tolerance: 0.005 # [s] stereo frame out-of-sync tolerance



imu_params:
    a_max: 176.0 # acceleration saturation [m/s^2]
    g_max: 7.8 # gyro saturation [rad/s]
    sigma_g_c: 0.0016017 # gyro noise density [rad/s/sqrt(Hz)] 0.00016017
    sigma_a_c: 0.0071376 # accelerometer noise density [m/s^2/sqrt(Hz)] 0.00071376
    sigma_bg: 0.03 # gyro bias prior [rad/s]
    sigma_ba: 0.1 # accelerometer bias prior [m/s^2]
    sigma_gw_c: 0.0000165 # gyro drift noise density [rad/s^s/sqrt(Hz)] 0.00000165
    sigma_aw_c: 0.0002874 # accelerometer drift noise density [m/s^2/sqrt(Hz)] 0.00002874
    tau: 3600.0 # reversion time constant, currently not in use [s]
    g: 9.81007 # Earth's acceleration due to gravity [m/s^2]
    a0: [ 0.0, 0.0, 0.0 ] # Accelerometer bias [m/s^2]
    imu_rate: 100
    # tranform Body-Sensor (IMU)
    T_BS:
        [0.0000, 0.0000, 1.0000, 0.0,
         1.0000, 0.0000, 0.0000, 0.0,
         0.0000, 1.0000, 0.0000, 0.0,
         0.0000, 0.0000, 0.0000, 1.0]

# mag_params:
#     sigma_m_c: 0.054548   #0.013637 * 5.0
#     sigma_mw_c: 5.0142e-03 #not used currently
#     T_SM: [1.0000, 0.0000, 0.0000, 0.0000, # Transfromation from Magnetometer to IMU
#          0.0000, 1.0000, 0.0000, 0.0000,
#          0.0000, 0.0000, 1.0000, 0.0000,
#          0.0000, 0.0000, 0.0000, 1.0000]
#     b0: [4.89234283318107, -11.6765063864419, 1.85266325715590] # Initial Magnetometer Bias 
#     A0: [1.0, 0.0, 0.0,         #Initial Soft Iron Matrix
#          0.0, 1.0, 0.0,
#          0.0, 0.0, 1.0]
#     rate: 100

sonar_params:
    T_SSo:
        [0.0000, 1.0000, 0.0000, 0.015995,
         -1.0000, 0.0000, 0.0000, 0.125,
         0.0000, 0.0000, 1.0000, 0.128,
         0.0000, 0.0000, 0.0000, 1.0000] # Stereo Rig V2


# Estimator parameters
numKeyframes: 5 # number of keyframes in optimisation window
numImuFrames: 3 # number of frames linked by most recent nonlinear IMU error terms

# ceres optimization options
ceres_options:
    minIterations: 3   # minimum number of iterations always performed
    maxIterations: 10  # never do more than these, even if not converged
    timeLimit: 0.035   # [s] negative values will set the an unlimited time limit

# detection
detection_options:
    threshold: 40.0      # detection threshold. By default the uniformity radius in pixels
    octaves: 0           # number of octaves for detection. 0 means single-scale at highest resolution
    maxNoKeypoints: 400  # restrict to a maximum of this many keypoints per image (strongest ones)   #Sharmin

# delay of images [s]:
imageDelay: 0.0  # in case you are using a custom setup, you will have to calibrate this. 0 for the VISensor.

# display debug images?
displayImages: true  # displays debug video and keyframe matches. May be slow.
publishDebugImages: false  # publish debug image to topic ~debug_image_x

# use direct driver
useDriver: false

# some options for how and what to publish -- optional in ROS-free version
publishing_options:
    publish_rate: 100                  # rate at which odometry updates are published only works properly if imu_rate/publish_rate is an integer!!
    publishLandmarks: true             # select, if you want to publish landmarks at all
    landmarkQualityThreshold: 1.0e-2   # landmark with lower quality will not be published
    maximumLandmarkQuality: 0.05       # landmark with higher quality will be published with the maximum colour intensity
    maxPathLength: 20                  # maximum length of the published path
    publishImuPropagatedState: false    # Should the state that is propagated with IMU messages be published? Or just the optimized ones?
    # provide custom World frame Wc
    T_Wc_W:
        [1.0000, 0.0000, 0.0000, 0.0000,
         0.0000, 1.0000, 0.0000, 0.0000,
         0.0000, 0.0000, 1.0000, 0.0000,
         0.0000, 0.0000, 0.0000, 1.0000]
    trackedBodyFrame: B                # B or S, the frame of reference that will be expressed relative to the selected worldFrame
    velocitiesFrame: Wc                # Wc, B or S,  the frames in which the velocities of the selected trackedBodyFrame will be expressed in

#Sharmin
isSonarUsed: false
isDepthUsed: false
histogramMethod: "NONE" # NONE, HISTOGRAM, CLAHE
claheClipLimit: 1.0
claheTilesGridSize: 4
resizeFactor: 0.5  # by default 1.0. set this value if you want to resize the original image by this factor. You DO NOT need to change camera/projection matrix, those will be updated accordingly. 


#Posegraph Parameters 
loop_closure_params:
    enable: 1  
    min_correspondences: 25 #Minimum 2D to 3D correspondences required for loop closure
    #decrease for more loop closure, might result in false loop closure (20 to 40)
    pnp_reprojection_threshold: 20.0 #Reprojection threshold for PnP RANSAC
    #increase for more loop closure, might result in false loop closure (8 to 30)
    pnp_ransac_iterations: 100  #Number of iterations for PnP RANSAC
    keyframe_queue: -1 #Use 1 for real-time on robot. Something around 5-10 could be ideal. -1 not to skip keyframes at all.
    max_yaw_diff: 30.0 #Max yaw difference between keyframe and query frame (degrees)
    max_position_diff: 6.0 #Max position difference between keyframe and query frame (meters)

health:
    enable: 0
    min_keypoints: 15
    consecutive_keyframes: 3
    keyframe_wait_time: 2.0
    kps_per_quadrant: 1

global_map_params:
    enable: 0
    min_landmark_quality: 0.01

output_params:
    debug: 1
    output_dir: /home/bjoshi/ros_ws/svin_ws/src/SVIn/pose_graph
