%YAML:1.0
cameras:
    - {T_SC:
       [ -0.0204017431055, -0.000775486330789, 0.999791562026, 0.191223742056,
         0.999705395678, -0.0131673485818, 0.0203897715677, -0.0327723324671,
         0.0131487920172, 0.999913005992, 0.00104389473231, -0.159324369284,
          0.0, 0.0, 0.0, 1.0],
       image_dimension: [1600, 1200],
       distortion_coefficients: [-0.16610165879624592, 0.1156504557423161, -5.9407782773707644e-05, 0.0018508320481282106],  
       distortion_type: radialtangential,
       focal_length: [1167.87421447215, 1166.9553764645004], 
       principal_point: [771.763112280329, 589.9626482585169]}  

    - {T_SC:
       [ 0.0156138019401, -0.00209949819523, 0.999875892947, 0.192334191016,
         0.999688314226, 0.0195154495097, -0.0155698950229, 0.199003903504,
         -0.0194803385383, 0.999807351112, 0.00240355417492, -0.160662618063,
          0.0, 0.0, 0.0, 1.0],
       image_dimension: [1600, 1200],
       distortion_coefficients: [-0.17863115239034907, 0.13121795689445712, -6.741741965147593e-05, -0.002580879117584875],
       distortion_type: radialtangential,
       focal_length: [1165.9493476066016, 1167.2556820541186], 
       principal_point: [752.2788466729131, 580.9613365661235]}  

camera_params:
    camera_rate: 13
    sigma_absolute_translation: 0.0
    sigma_absolute_orientation: 0.0
    sigma_c_relative_translation: 0.0 # below 1.0e-6 ruines numerics...
    sigma_c_relative_orientation: 0.0 # below 1.0e-6 ruines numerics...


imu_params:
    a_max: 176.0 # acceleration saturation [m/s^2]
    g_max: 7.8 # gyro saturation [rad/s]
    sigma_g_c: 0.00080085 # gyro noise density [rad/s/sqrt(Hz)] 0.00016017
    sigma_a_c: 0.00356884 # accelerometer noise density [m/s^2/sqrt(Hz)] 0.00071376
    sigma_bg: 0.03 # gyro bias prior [rad/s]
    sigma_ba: 0.1 # accelerometer bias prior [m/s^2]
    sigma_gw_c: 0.00000825 # gyro drift noise density [rad/s^s/sqrt(Hz)] 0.00000165
    sigma_aw_c: 0.0001437 # accelerometer drift noise density [m/s^2/sqrt(Hz)] 0.00002874
    tau: 3600.0 # reversion time constant, currently not in use [s]
    g: 9.81007 # Earth's acceleration due to gravity [m/s^2]
    a0: [ 0.0, 0.0, 0.0 ] # Accelerometer bias [m/s^2]
    imu_rate: 100
    # tranform Body-Sensor (IMU)
    T_BS:
        [0.0000, 0.0000, 1.0000, 0.0,
         1.0000, 0.0000, 0.0000, 0.0,
         0.0000, 1.0000, 0.0000, 0.0,
         0.0000, 0.0000, 0.0000, 1.0]
         
sonar_params:
    T_SSo:  
        [0.0000, 0.0000, 1.0000, 0.365,
         0.0000, -1.0000, 0.0000, 0.0950005,
         1.0000, 0.0000, 0.0000, 0.0699993,
         0.0000, 0.0000, 0.0000, 1.0000] # Stereo Rig V1

# Estimator parameters
numKeyframes: 5 # number of keyframes in optimisation window
numImuFrames: 3 # number of frames linked by most recent nonlinear IMU error terms

# ceres optimization options
ceres_options:
    minIterations: 3   # minimum number of iterations always performed
    maxIterations: 10  # never do more than these, even if not converged
    timeLimit: 0.035   # [s] negative values will set the an unlimited time limit

# detection
detection_options:
    threshold: 20.0      # detection threshold. By default the uniformity radius in pixels
    octaves: 1           # number of octaves for detection. 0 means single-scale at highest resolution
    maxNoKeypoints: 400  # restrict to a maximum of this many keypoints per image (strongest ones)

# delay of images [s]:
imageDelay: 0.0  # in case you are using a custom setup, you will have to calibrate this. 0 for the VISensor.

# display debug images?
displayImages: true  # displays debug video and keyframe matches. May be slow.
publishDebugImages: false  # publish debug image to topic ~debug_image_x

# use direct driver
useDriver: false

# some options for how and what to publish -- optional in ROS-free version
publishing_options:
    publish_rate: 100                  # rate at which odometry updates are published only works properly if imu_rate/publish_rate is an integer!!
    publishLandmarks: true             # select, if you want to publish landmarks at all
    landmarkQualityThreshold: 1.0e-2   # landmark with lower quality will not be published
    maximumLandmarkQuality: 0.05       # landmark with higher quality will be published with the maximum colour intensity
    maxPathLength: 20                  # maximum length of the published path
    publishImuPropagatedState: true    # Should the state that is propagated with IMU messages be published? Or just the optimized ones?
    # provide custom World frame Wc
    T_Wc_W:
        [1.0000, 0.0000, 0.0000, 0.0000,
         0.0000, 1.0000, 0.0000, 0.0000,
         0.0000, 0.0000, 1.0000, 0.0000,
         0.0000, 0.0000, 0.0000, 1.0000]
    trackedBodyFrame: B                # B or S, the frame of reference that will be expressed relative to the selected worldFrame
    velocitiesFrame: Wc                # Wc, B or S,  the frames in which the velocities of the selected trackedBodyFrame will be expressed in

#Sharmin
isSonarUsed: false
isDepthUsed: false
isRelocalization: true
histogramMethod: "NONE" # NONE, HISTOGRAM, CLAHE
claheClipLimit: 2.0
claheTilesGridSize: 4
resizeFactor: 0.5  # by default 1.0. set this value if you want to resize the original image by this factor. You DO NOT need to change camera/projection matrix, those will be updated accordingly. 


loop_closure_params:
    enable: 1  
    min_correspondences: 20 #decrease for more loop closure, might result in false loop closure (20 to 40)
    pnp_reprojection_threshold: 25.0     #increase for more loop closure, might result in false loop closure (8 to 30)
    pnp_ransac_iterations: 100
    keyframe_queue: -1 #Use 1 for real-time on robot. Something around 5-10 could be ideal. -1 not to skip keyframes at all.
    max_yaw_diff: 30.0 #Max yaw difference between keyframe and query frame (degrees)
    max_position_diff: 6.0 #Max position difference between keyframe and query frame (meters)
    
                     

health:
    enable: 0
    min_keypoints: 15
    consecutive_keyframes: 3
    keyframe_wait_time: 2.0
    kps_per_quadrant: 1

global_map_params:
    enable: 0
    min_landmark_quality: 0.01

debug:
    enable: 1
    # Relative to pose_graph package
    output_dir: debug_output